extends ../../components/form/template.pug
//- include ../../components/field/index.pug
//- include ../../components/button/index.pug


block form
  span.main-form__title Добавить пользователя
  div.main-form__control-wrapper
    div.main-form__control
      | !{emailUserField}
      //- +field({ 
      //-   name: 'email', 
      //-   placeholder: 'Почта',
      //- })

    | !{addButton}
  //- +button({ 
  //-   buttonlabel: 'Добавить', 
  //-   type: 'submit'
  //- })