extends ../index.pug

block content
  .chat
    .chat__wrapper
      include ../../components/sidebar/index.pug
    .chat__content
      .chat-empty 
        h3.chat-empty__title Выберите чат чтобы отправить сообщение