
extends ../../modules/profile/index.pug

block content
  .user-profile__avatar
    include ../../components/profileAvatar/index.pug  
  span.user-profile__name Nik
  .user-profile__form
    include ../../modules/profileInfo/index.pug

  include ../../modules/uploadAvatar/index.pug  