.profile-info
  .profile-info__content
    .profile-info__item
      span.profile-info__label Почта
      span.profile-info__info pochta@yandex.ru

    .profile-info__item
      span.profile-info__label Логин
      span.profile-info__info pochta@yandex.ru

    .profile-info__item
      span.profile-info__label Имя
      span.profile-info__info pochta@yandex.ru

    .profile-info__item
      span.profile-info__label Фамилия
      span.profile-info__info pochta@yandex.ru

    .profile-info__item
      span.profile-info__label Имя в чате
      span.profile-info__info pochta@yandex.ru

    .profile-info__item
      span.profile-info__label Почта
      span.profile-info__info pochta@yandex.ru

    .profile-info__item
      span.profile-info__label Телефон
      span.profile-info__info pochta@yandex.ru
  
  .profile-info__controls 
    .profile-info__item
      button(type="button").profile-info__edit-button Изменить данные
    .profile-info__item
      button(type="button").profile-info__edit-button Изменить пароль
    .profile-info__item
      button(type="button").profile-info__exit-button Выйти
