extends ../../components/form/index.pug
include ../../components/button/index.pug
include ../../components/field/index.pug


block form
  span.main-form__title Регистрация
  div.main-form__control-wrapper
    div.main-form__control
      +field({ 
      name: 'email', 
      placeholder: 'Почта',
    })

    div.main-form__control
      +field({ 
        name: 'login', 
        placeholder: 'Логин',
      })

    div.main-form__control
      +field({ 
        name: 'first_name', 
        placeholder: 'Имя',
      })

    div.main-form__control
      +field({ 
        name: 'second_name', 
        placeholder: 'Фамилия',
      })

    div.main-form__control
      +field({ 
        name: 'phone', 
        placeholder: 'Телефон',
      })

    div.main-form__control
      +field({ 
        type: 'password', 
        name: 'password', 
        placeholder: 'Пароль',
      })

    div.main-form__control
      +field({ 
        type: 'password', 
        name: 'password', 
        placeholder: 'Пароль (ещё раз)',
        error: 'Пароли не совпадают'
      })

  +button({ 
    buttonlabel: 'Зарегистрироваться', 
  })

  a(href="#").main-form__link Войти

  

