.chat-item
  img(src="https://dummyimage.com/50x50/000/fff").chat-item__avatar
  .chat-item__content
    .chat-item__name Андрей
    .chat-item__text И Human Interface Guidelines и Material Design рекомендуют И Human Interface Guidelines
  .chat-item__additional-info
    .chat-item__time 10:49
    .chat-item__count 2
