include ../../components/button/index.pug 
 
.form-profile
  .form-profile__field
    label.form-profile__label Старый пароль
    input(type="password" name="oldPassword").form-profile__input
  
  .form-profile__field
    label.form-profile__label Новый пароль
    input(type="password" name="newPassword").form-profile__input

  .form-profile__field
    label.form-profile__label Повторите новый пароль
    input(type="password" name="newPassword").form-profile__input
  
  +button({ 
    buttonlabel: 'Сохранить', 
    type: 'submit'
  })